<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <appSettings>
     <add key="Nombre" value=" Cristala II - Launcher -  2.1" />
     <add key="MainUrl" value="https://www.gamesow.com/playgame/11/" />
    <add key="Discort" value="https://discordapp.com/app" />
  </appSettings>

</configuration>